<% now = Time.zone.now %>
<div class="page-header">
     <%= image_tag @user.image_url %>
     <span style="font-size : 22px"><%= @user.nickname %></span>
</div>
<ul class="nav nav-tabs">
    <li role="presentation"><a href="/users/<%= @user.id.to_s %>">参加 <span class="badge"><%= @user.events.count %></span></a></li>
    <li role="presentation" class="active""><%= link_to('主催イベント', user_owner_events_path(@user)) %></li>
</ul>
<div class="list-group">
    <div class="row">
        <% @user_events.each do |event| %>
            <div class="col-sm-5 col-md-3">
                <div class="thumbnail">
                    <%= link_to(event) do %>
                        <% if event.event_image.url %>
                            <%= image_tag event.event_image.url %>
                        <% else %>
                            <%= image_tag 'noimage.jpg'%>
                        <% end %>
                    <% end %>
                    <div class="caption">
                        <p><span class="glyphicon glyphicon-time"></span> <%= event.start_time.strftime('%Y/%m/%d') %></p>
                        <h3>
                            <%= event.name %>
                            <% if event.end? %>
                                <span class="label label-danger">終了</span>
                            <% end %>
                        </h3>

                        <p><span class="glyphicon glyphicon-user"aria-hidden="true"></span> <span><%= event.owner.nickname %></span>&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-map-marker" aria-hidden="true"><%= event.place %></span></p>
                        <p>
                        <%= link_to(event, class: 'btn btn-primary') do %>
                            <span>イベント詳細を観る</span>
                        <% end %>
                        </p>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
    <%= paginate @user_events %>
</div>

