<% now = Time.zone.now %>
<div class="page-header">
     <%= image_tag @user.image_url %>
     <span style="font-size : 22px"><%= @user.nickname %></span>
</div>
<ul class="nav nav-tabs">
    <li role="presentation"><a href="/users/<%= @user.id.to_s %>">参加 <span class="badge"><%= @user.events.count %></span></a></li>
    <li role="presentation" class="active""><%= link_to('主催イベント', user_owner_events_path(@user)) %></li>
</ul>
<div class="list-group">
    <% @user_events.each do |event| %>
        <%= link_to(event, class: 'list-group-item') do %>
            <h4 class="list-group-item-heading">
                <%= event.name %>
            <% if event.end? %>
                <span class="label label-danger">終了</span>
            <% end %>
            </h4>
            <p class="list-group-item-text">
            <%= event.start_time.strftime('%Y/%m/%d %H:%M') %> - <%= event.end_time.strftime('%Y/%m/%d %H:%M') %>
            </p>
        <% end %>
    <% end %>
    <%= paginate @user_events %>
</div>

