<% now = Time.zone.now %>
<div class="page-header">
    <h2>イベント一覧</h2>
</div>
<%= search_form_for(@q, url: root_path, class: 'well') do |f| %>
    <div class="form-group">
        <%= f.label :name_cont, 'イベント名' %>
        <%= f.text_field :name_cont, class: 'form-control' %>
    </div>
    <div class="form-group">
        <%= f.label :start_time_gteq, '開催日' %>
        <div>
            <%= f.date_select :start_time_gteq, start_year: now.year, end_year: now.year + 1, prompt: true %>〜
        </div>
    </div>
    <%= f.submit '検索', class: 'btn btn-default' %>
<% end %>
<div class="list-group">
    <div class="row">
    <% @events.each do |event| %>
            <div class="col-sm-5 col-md-3">
                <div class="thumbnail">
                    <%= link_to(event) do %>
                        <% if event.event_image.url %>
                            <%= image_tag event.event_image.url %>
                        <% else %>
                            <%= image_tag 'noimage.jpg'%>
                        <% end %>
                    <% end %>
                    <div class="caption">
                        <p><span class="glyphicon glyphicon-time"></span> <%= event.start_time.strftime('%Y/%m/%d') %></p>
                        <h3>
                            <%= event.name %>
                        </h3>
                        <p><span class="glyphicon glyphicon-user"aria-hidden="true"></span> <span><%= event.owner.nickname %></span>&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-map-marker" aria-hidden="true"><%= event.place %></span></p>
                        <p>
                    <%= link_to(event, class: 'btn btn-primary') do %>
                        <span>イベント詳細を観る</span>
                    <% end %>
                        </p>
                    </div>
                </div>
            </div>
    <% end %>
    </div>
    <%= paginate @events %>
</div>
